<section class="intro">
    <div class="intro-image">
      <div class="image-container">
        <div class="background-box"></div>
        <img src="assets/images/foto-samuel-sem-fundo.png" alt="Samuel Costa" />
      </div>
    </div>
    <div class="intro-text">
      <h6>Nome: Samuel Costa</h6>
      <h6>Idade: 19 anos</h6>
      <h6>Profissão: Desenvolvedor</h6>
      <h6>Localização: Taubaté</h6>
      <h6>Escolaridade: Graduando Engenharia de Software</h6>
      <h6>Universidade: UMC</h6>
      <h6>Periodo: Noturno</h6>
      <h6>Objetivos Profissionais:</h6>
      <p>Meu objetivo é desenvolver minha carreira como desenvolvedor júnior, aprimorando minhas habilidades e contribuindo ativamente para projetos de tecnologia. Estou focado em aprender, ganhar experiência e crescer profissionalmente para, no futuro, assumir maiores responsabilidades.</p>
      
      
    </div>
    
  </section>