<section class="intro">
    <div class="intro-image">
      <div class="image-container">
        <div class="background-box"></div>
        <img src="assets/images/foto-samuel-sem-fundo.png" alt="Samuel Costa" />
      </div>
    </div>
    <div class="intro-text">
      <h6>Nome: Samuel Costa</h6>
      <h6>Idade: 19 anos</h6>
      <h6>Profissão: Desenvolvedor</h6>
      <h6>Localização: Taubaté</h6>
      <h6>Escolaridade: Graduando Engenharia de Software</h6>
      <h6>Universidade: UMC</h6>
      <h6>Periodo: Noturno</h6>
      <h6>Objetivos Profissionais:</h6>
      <p>Meu objetivo é me tornar um desenvolvedor pleno ou sênior no futuro e liderar equipes em projetos de tecnologia que impactem positivamente a sociedade.</p>
      
      
    </div>
    
  </section>