<div class="container-fluid">
    <div class="apresentation">
    <h3>Sou desenvolvedor Full-Stack e Mobile, com formação em Técnico em Informática e Técnico em Informática para Internet, e atualmente cursando Engenharia de Software. Estou à disposição para novas oportunidades e desafios. Vamos conversar?</h3>

    <div class="icons">
        <section>
            <a href="https://wa.me/5512996762054" target="_blank">
                <i class="bi bi-whatsapp"></i>
            </a>

            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=costasamuca8@gmail.com&su=Assunto%20da%20Mensagem&body=Conteudo%20da%20Mensagem" target="_blank">
                <i class="bi bi-envelope-at"></i>  
              </a>

              <a href="https://www.linkedin.com/in/samuelecosta" target="_blank">
                <i class="bi bi-linkedin"></i>
              </a>

              <a href="https://github.com/samuel1239012" target="_blank">
                <i class="bi bi-github"></i>
              </a>
        </section>
    </div>
<!-- 
      <h1>Meu E-mail para contato</h1>
      

      

      <h1>Meu GitHub</h1>
      <a href="https://www.linkedin.com/in/samuelecosta" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a> -->
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>